@import '../../styles/mixins';
@import '../../styles/variables';

.preview {
    padding: 6em 7em;


    .personal-output-box {
        @include flex;
    }

    h2 {
        font-size: 3.4rem;
        font-weight: bold;
        color: $resumeTitle;
        margin-bottom: 0.45em;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: bold;
        color: $resumeTitle;
        margin-bottom: 0.8em;
    }

    p {
        font-size: 1.6rem;
        width: 400px;
        word-wrap: break-word;
        line-height: 1.5em;
    }

    span {
        font-size: 1.8rem;
        color: $primary;
        font-weight: 400;
    }
    
    .email { margin-bottom: 1em }

    .tel { margin-bottom: 3em }

    .email, .tel {
        @include flex;
        gap: 1em;

        .icon {
            width: 17px;
            height: 17px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .img-container {
        position: absolute;
        top: 48px;
        right: 75px;
        width: 246px;
        height: 246px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .personal-output-box,
    .experience-output-box,
    .education-output-box {
        border-bottom: 1px solid $grayBc;
        width: 100%;
        padding-bottom: 2em;
        margin-bottom: 2em;
    }

    .experience-info {
        @include flex-column;

        .work-experience {
            font-size: 1.6rem;
            font-weight: 500;
            color: $primary;
            margin-bottom: 0.5em;
        }

        .work-date {
            font-size: 1.6rem;
            color: $spanColorSecond;
            font-style: italic;
            margin-bottom: 1em;
        }

        .work-p {
            font-size: 1.6rem;
            color: $black;
            width: 655px;
        }
    }

    .education-info {
        @include flex-column;

        .education {
            font-size: 1.6rem;
            color: $primary;
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        .education-date {
            font-size: 1.6rem;
            color: $spanColorSecond;
            font-style: italic;
            margin-bottom: 1em;
        }

        .education-p {
            font-size: 1.6rem;
            color: $black;
            width: 655px;
        }
    }
}

section {
    width: 100%;
    height: 100%;
    position: relative;

    .logo-02 {
        position: absolute;
        left: 7.8em;
        bottom: 4.4em;
    }
}

