<section class="preview">
    <div class="personal-output-box">
        <div class="personal-info">

            <h2>გიორგი კაპანაძე</h2>
            <div class="email">
                <div class="icon">
                    <img src="email-icon.png" alt="email icon">
                </div>
                <span>kapanadze.giogmail.com</span>
            </div>
            <div class="tel">
                <div class="icon">
                    <img src="phone-icon.png" alt="phone icon">
                </div>
                <span>+995 514 000 839</span>
            </div>
    
            <h3>ჩემ შესახებ</h3>
            <p>gjrogijeoigjoeirjgoiejgjerjgoerjgpjergojerpohjerohjprejhperjhoejrohjerphjerojhepjhoperjphrgjejpergjpeorjgpoerjgpoejrpgjeprjgpejrgpojerpgjoregjpro</p>
        </div>
        <div class="img-container">
            <img src="LOGO-01.png" alt="profile photo">
        </div>
    </div>

    

    

    

</section>



<section>
    <img class="logo-02" src="LOGO-02.png" alt="Redberry logo">
</section>